<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Layout con Flexbox y CSS Grid</title>
</head>
<body>
    <div class="grid">
        <header class="header">
            <h2 class="logo">Logo</h2>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Contacto</a>
            </nav>
        </header>

        <main class="main">
            <h2 class="titulo">Contenido</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex repudiandae earum magnam soluta doloribus consequuntur praesentium maiores assumenda accusamus iste illo quia voluptatum fugiat quibusdam, ullam sunt nemo quasi placeat quis recusandae natus ea? Soluta, dolor modi sit vitae itaque saepe sequi reprehenderit provident, minima officiis adipisci deserunt incidunt earum.</p>
            <a href="#" class="boton">Leer más</a>
        </main>

        <aside class="aside">
            <h2 class="titulo">Aside</h2>
        </aside>

        <section class="widgets">
            <div class="widget">
                <h3 class="titulo">Widget 1</h3>
            </div>
            <div class="widget">
                <h3 class="titulo">Widget 2</h3>
            </div>
            <div class="widget">
                <h3 class="titulo">Widget 3</h3>
            </div>
        </section>

        <footer class="footer">
            <h2 class="titulo">Footer</h2>
            <p>2026 &copy; Dai Flac. Todos los derechos reservados</p>
        </footer>
    </div>
</body>
</html>